<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>新規タスク作成ページ</title>
        <meta name="description" content="タスク管理ができるWebApp">
    </head>
    <body>
        <header>
            <h1>TaskAPP</h1>
        </header>
        <h1>新規タスク作成ページ</h1>
        <h4>{{msg}}</h4>
        <table align="center" >
            <form action="/create" method="POST">
                <tr><td align="right">タスク名</td><td><input type="text" name="name" placeholder="16文字以内" required></td></tr>
                <tr><td align="right">詳細</td><td><textarea name="body"></textarea></td></tr>
                <tr><td align="right"><input type="submit" value="作成"></td></tr>
            </form>
        </table>
    </body>
</html>