<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>タスクリストWebApp</title>
        <meta name="description" content="タスク管理ができるWebApp">
        <link rel="stylesheet" href="style.css">
        <script src="main.js"></script>
    </head>
    <body>
        <header>
            <h1>TaskAPP</h1>
        </header>
        <nav>
            <ul>
                <li><a href="/register">新規登録</a></li>
                <li><a href="/login">ログイン</a></li>
            </ul>
        </nav>
    </body>
</html>