<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>ログインページ</title>
        <meta name="description" content="タスク管理ができるWebApp">
    </head>
    <body>
        <header>
            <h1>TaskAPP</h1>
        </header>
        <h1>ログインページ</h1>
        <h4>{{msg}}</h4>

        <form action="/login" method="POST">
            <input type="text" name="user_id" placeholder="ユーザーID">
            <input type="password" name="password" placeholder="パスワード">
            <input type="submit" value="ログイン">
        </form>
    </body>
</html>